@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid red;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.navbar-section,
.hero-section,
footer {
    background-color: #1f2937;
    color: #f9faf8;
}

.container {
    max-width: 75vw;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.logo i {
    font-size: 60px;
    padding-right: 10px;
}

.container ul {
    list-style: none;
}

ul a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border: 2px solid transparent;
}

ul a:hover {
    border: 2px solid #fff;
    border-radius: 100px;
    transition: 1.5s;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-left {
    padding-right: 2rem;
}

.hero-left > p {
    color: #e5e7eb;
    padding: 10px 0;
}

.hero-right > i {
    font-size: 20rem;
    /*margin: 0 3rem;*/
}

button,
.call-box {
    background-color: #3882f6;
    border-radius: 10px;
    color: #fff;
}

.call-box {
    margin: 0 6rem;
}

button {
    padding: 5px 20px;
    border: 3px solid #3882f6;
    font-size:x-large;
    font-weight: 600;
}

.hero-left button {
    margin-top: 20px;
}

.hero-left button:hover {
    background-color: #fff;
    color: #3882f6;
    transition: 1s;
}

.quote-section {
    background-color: #e5e7eb;
}

.quote p:nth-of-type(1) {
    font-size: 36px;
    font-style: italic;

}

.quote p:nth-of-type(2) {
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}

.container > h2 {
    font-size: 36px;
    font-weight: 900; 
    color: #1f2937;
}

h2 {
    text-align: center;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding: 20px 0;
}

.box-container,
.info-box {
    width: 200px;
    height: auto;
}

.info-box {
    border: 3px solid #3882f6;
    border-radius: 10px;
    text-align: center;
    font-size: 5rem;
    color: #3882f6;
    background-color: rgb(226, 233, 236);
}

.navbar-section .container,
.logo,
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-section .container {
    display: flex;
    justify-content: space-between;
}

.hero-right {
    margin: 0 auto;
    align-self: center;
}

.nav {
    gap: 4rem;
}

.nav.container {
    padding: 0px;
}
.footer-section .container {
    padding: 20px 0;
}

.footer-section .container {
    text-align: center;
}

.container {
    padding: 50px 0;
}

.call-box-right button {
    background-color: #fff;
    color: #3882f6;
    border: 3px solid #fff;
}

.call-box-right button:hover {
    background-color: #3882f6;
    color: #fff;
    transition: 1s;
}

.call-box {
    padding: 30px 80px;
    display: flex;
}

.call-box-right {
    flex: 1 1 20%;
    text-align: center;
    align-self: center;
}

.call-box-left {
    flex: 1 1 80%;
    margin-right: 10px;
}

/*Following CSS didn't quite behave how I needed. Display does not accept 'transition' so it just snaps.
Overflow hidden with 0 height > height 100% still snapped the lower container*/

/* .box-container p {
    display: none;
}

.box-container:hover p {
    display: block;
} */

/* .box-container p {
    height: 0;
    overflow: hidden;
}

.box-container:hover p {
    height: 100%;
    transition: 1.5s;
} */

.box-container p { 
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s, visibility 1.5s;
    color: #3882f6;
    text-align: center;
    font-weight: 600;
}

.box-container:hover p {
    opacity: 1;
    visibility: visible;
} 

.info-box:hover {
    background-color: #fff;
    transition: 1.5s;
}

.box-section .container {
    padding-bottom: 0;
}

.hover {
    font-size: 20px;
    font-weight: 700;
}